<footer id="footer">
  <div class="container">
    <div class="f-li-container">
      <div class="footer-col">
        <h3>Quicklinks</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Our Profile</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Information</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>

          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Courses</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Publication</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-p">
        <p>
          &copy; <span id="currentYear"></span> All Rights Reserved. Design by
          <a href="#">T2 Interactive International Sdn Bhd</a>
        </p>
      </div>
    </div>
  </div>
</footer>
