.header-container {
  height: 1240px;
  width: 1200px;
  margin: 0 auto;
}
/*
* #HEADER
*/
header {
  height: 1240px;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220926/pngtree-download-wallpapers-red-abstract-background-lines-wallpaper-image_1465946.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



nav {
  padding-top: 72px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
  list-style-type: none;
}

nav ul li a {
  padding-bottom: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
}

nav ul li a:hover {
  border-bottom: 2px solid #ff0000;
}


.logo{
  width: 100px;
  height: 100px;
}

a.block-logo {
  float: right;
}



.lines {
  height: 150px;
  position: relative;
}

.lines .md-line {
  display: inline-block;
}

.lines .arrw {
  display: inline-block;
  position: absolute;
  left: 83px;
}

.lines .arrw:hover {
  transform: rotate(-90deg);
}

.lines .bttm-line {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: -1px;
}

.arrow-links {
  margin-top: 98px;
}

.arrow-links a {
  display: inline-block;
  cursor: pointer;
}

.arrow-links a:first-child {
  margin-right: 7px;
}

.arrow-links img {
  display: inline-block;
}
