<body>
<header id="up">
  <div class="header-container">
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a class="block-logo" href="#"><img src="./assets/images/t2-interactive.jpg" class= "logo" alt="logo"></a>
    <div class="txt-col">
      <img src="http://bit.ly/2u7YgMf" alt="top line decoration">
      <div class="header-txt">
        <h1>T2 Interactive<br>International Sdn Bhd</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore</p>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="section1">
    <div class="container1">
      <div class="pos1">
        <div class="section1-left-txt">
          <h2>Bright ass<br> orange</h2>
          <p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="p-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="section1-right-txt">
          <div class="section1-rtxt-imgblock"></div>
          <div class="section1-rtxt-txtblock">
            <h2>Finaly a layout that<br> blows your head off</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br> labore et dolore magna al aqua.</p>
            <a href="#"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i>Tweet this</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="container2">
      <h2>Melbourne, Australia</h2>
      <div class="section2-left-txt">
        <p class="topfont">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p class="font">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
          porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
      <div class="section2-right-txt">
        <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p class="font">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
          porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
    </div>
  </div>
  <div class="section-image1"></div>
  <div class="section3">
    <div class="container3">
      <div class="pos3">
        <div class="section3-txtblock-top-left">
          <h2>Words &<br> Such</h2>
        </div>
        <div class="section3-imgblock"></div>
        <div class="section3-txt">
          <div class="section3-ltxt">
            <p class="marg-bt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
          </div>
          <div class="section3-rtxt">
            <p class="marg-bt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section4">
    <div class="container4">
      <div class="pos4">
        <h2>Take action</h2>
        <form action="" method="" target="_self" autocomplete="on">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="tel" placeholder="Contact Phone" required>
          <input type="email" name="mail" placeholder="Email" required>
          <input type="submit" value="Sign Up">
        </form>
      </div>
    </div>
  </div>
  <div class="section-image2">
    <div class="img-container">
      <div class="img-block"></div>
    </div>
  </div>
  <div class="section5">
    <div class="container5">
      <div class="pos5">
        <div class="section5-left-txt">
          <h2>Ohh this<br> is nice</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="section5-right-txt">
          <div class="section5-rtxt-imgblock"></div>
          <div class="section5-rtxt-txtblock">
            <h2>The end is nigh, well the<br> footer anyways</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br> labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer id="footer">
  <div class="container">
    <div class="f-li-container">
      <div class="footer-col">
        <h3>Quicklinks</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Our Profile</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Information</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Courses</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Publication</h3>
        <ul>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
          <li><a href="#">A Footer Link</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-p">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>
  </div>
</footer>
<div id="up-btn">
  <a href="#up"><i class="fa fa-3x fa-chevron-up" aria-hidden="true"></i></a>
</div>
</body>
